# Environments
.env
.venv
venv/
venv2/
ENV/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.toast
.lucide

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Build
dist/
build/
out/
.next/

# IDEs
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
*.log
frontend/error.log
